body {
	margin: 0;
	padding: 0;
	font-family: 'Anton', sans-serif;
	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}
img {
	width: 200px;
	height: 200px;
}
.game-info {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	position: fixed;
	bottom: 0;
	margin-bottom: 30px;
}
.score {
	text-align: left;
	font-size: 60px;
}
.timer {
	text-align: right;
	font-size: 48px;
}
.mdl-button--primary {
	border: 1px solid #536DFE;
}
#overlay {
	position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9);
  z-index: 2;
  cursor: pointer;
}
#overlay-text{
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
#overlay-text p {
	font-size: 24px;
	text-align: center;
}
#overlay-text button {
	width: 100%;
}

#game-summary {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.9);
	z-index: 2;
	cursor: pointer;
	display: none;
}
#game-summary-text {
	position: absolute;
	top: 50%;
	left: 50%;
	color: #fff;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
#game-summary-text p {
	font-size: 24px;
	text-align: center;
}

#game-summary-text button {
	width: 100%;
}